body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
}


.a {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
}

.f {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
}

.h3 {
    margin: 8px 0 4px;
    font-size: 18px;
}

.h6 {
    font-size: 14px;
    color: #666;
}

.i {
    background-color: #e0e0e0;
    padding: 50px;
    border-radius: 2px;
}

.b {
    background-color: #e0e0e0;
    padding: 50px;
    border-radius: 8px;

}