body {
    background-color: #0F1424;
    margin: 50px;
    font-family: 'Arial', sans-serif;
}

p {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 45px;
    font-weight: 100;
}

h1 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 42px;
    font-weight: 20;
}

h6 {
    color: #cfcfcf;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

h5 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

h4 {
    color: rgb(170, 150, 249);
    font-family: Arial, sans-serif;
    font-size: smaller;
    font-weight: lighter;
}

h2 {
    color: white;
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 5px white solid;
}

.main {
    display: flex;
    flex-direction: row;
    animation: name duration timing-function delay iteration-count direction fill-mode;

}



.top {
    background-color: #5746ea;
    width: 200px;
    height: 340px;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    margin-top: 50px;
    margin-bottom: -20px;
}

.bot {
    background-color: #1c1f4a;
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    height: 150px;
    font-size: 20px;
}



.row1 {
    display: flex;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-top: 30px;
    gap: 45px;
}

.row2 {
    display: flex;
    padding-left: 100px;
    padding-bottom: 30px;
    padding-top: 20px;
    gap: 45px;
}

.work {
    background-color: #1c1f4a;
    padding: 25px;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    width: 240px;
    height: 200px;

}

.play {
    background-color: #1c1f4a;
    padding: 25px;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    width: 240px;
    height: 200px;
}

.study {
    background-color: #1c1f4a;
    padding: 25px;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    width: 240px;
    height: 200px;
}

.exer {
    background-color: #1c1f4a;
    padding: 25px;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    width: 240px;
    height: 200px;
}

.soc {
    background-color: #1c1f4a;
    padding: 25px;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    width: 240px;
    height: 200px;
}

.self {
    background-color: #1c1f4a;
    padding: 25px;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    width: 240px;
    height: 200px;
}

.dot {
    display: flex;
    gap: 100px;
}

.or {
    width: 290px;
    height: 70px;
    border-radius: 15px 15px 0 0;
    position: relative;
    margin-top: 50px;
    margin-bottom: -20px;
}